.responsive-container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.responsive-table {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}
